*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    background-color: rgb(143, 72, 139);
}

.grid-container {
  display: grid;
  grid-template-columns: repeat (10 , 1fr);
  grid-template-rows: repeat (10 , 1fr)
}

.grid-container > #div {
  text-align: center;
  padding: 1%;
  font-size: 15px;
}

.grid-container > .header {
  border-color: black;
  border: 5px;
  text-align: center;
  padding: 2%;
  font-family: 'rubik bubbles' , serif;
  font-size: 3rem;
  color: white;
}

.grid-container > #Movies {
  margin: 1% 35% 0% 35%;
}

.grid-container > #get {
  margin: 0% 35% 0% 35%;
  color: blueviolet;
}

/* Styling for innerHTML contents */
.grid-container > #div > h2 {
  padding: 2%;
  font-family: 'short stack' , serif;
  color: rgb(236, 195, 236);
  font-size: 35px;
}

.grid-container > #div > p {
  margin: 0% 20% 0% 20%;
  background-color: rgb(221, 169, 231);
}

.grid-container > #div > img {
  padding: 5px;
  border: 5px;
  background-color: rgb(237, 195, 250);
  border-radius: 2%;
}

.grid-container > #div > #img1 {
  margin-top: 1%;
}

.grid-container > #div > #img2 {
  margin: 0% 0% 20% 1%;
}